*{ margin: 0; padding: 0; }

body{
    height: 100vh;
    background-color: #0f0f0f;
}

body ul{
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%,-40%);
    text-indent: 2.8em;
}

ul::after,
ul li::after{
    content: "";
    width: 1.4em; height: 1.4em;
    display: block;
    border-radius: 50%;
    background-color: #129ff1;
}
ul::after{
    position: absolute;
    top: 2.8em;
}
ul li{
    position: absolute;
    padding-bottom: 5.6em;
    top: 0; left: 0;
    list-style: none;
    animation: dotAnimation 2.5s infinite;
}

ul li::after{
    animation: dotAnimationTwo 2.5s infinite;
}
ul li:nth-child(1),
ul li:nth-child(1)::after{
   transform: rotate(36deg); animation-delay: 1.3s;
}
ul li:nth-child(2),
ul li:nth-child(2)::after{
    transform: rotate(72deg); animation-delay: 0.125s;
}
ul li:nth-child(3),
ul li:nth-child(3)::after{
    transform: rotate(108deg); animation-delay: 0.25s;
}
ul li:nth-child(4),
ul li:nth-child(4)::after{
    transform: rotate(144deg); animation-delay: 0.375s;
}
ul li:nth-child(5),
ul li:nth-child(5)::after{
    transform: rotate(180deg); animation-delay: 0.5s;
}
ul li:nth-child(6),
ul li:nth-child(6)::after{
    transform: rotate(216deg); animation-delay: 0.625s;
}
ul li:nth-child(7),
ul li:nth-child(7)::after{
    transform: rotate(252deg); animation-delay: 0.75s;
}

ul li:nth-child(8),
ul li:nth-child(8)::after{
    transform: rotate(288deg); animation-delay: 0.875s;
}

ul li:nth-child(9),
ul li:nth-child(9)::after{
    transform: rotate(324deg); animation-delay: 1s;
}
ul li:nth-child(10),
ul li:nth-child(10)::after{
    transform: rotate(360deg); animation-delay: 1.125s;
}

/*create animation with keyframes*/
@keyframes  dotAnimation{
    0%,55%,100%{
        padding: 0 0 5.6em 0;
    }
    5%,50%{
        padding: 2.8em 0;
    }
}

@keyframes dotAnimationTwo{
    0%,55%,100%{
        opacity: 1;
        transform: scale(1);
    }
    5%,50%{
        opacity: 0.5;
        transform: scale(0.5);
    }
}